.react-imager{
  figure{
    width: 100%;
    height: 100%;
    background: no-repeat 50% 50%;
    background-size: cover;
    margin: 0;
    opacity: 0;
    transition: opacity 200ms ease-out;
  }
  img{
    display: none;
  }
  &.loaded figure{
    opacity: 1;
  }
}
