@import 'base';
.imagr{
  background: #ccc;
  display: inline-block;
  position: relative;
  img{
    opacity: 0;
    transition: opacity 400ms ease-out;
    width: auto;
    height: auto;
  }
  &.loaded img{
    opacity: 1;
  }
  &.restrict-h,
  &.restrict-v{
    overflow: hidden;
  }
  &.restrict-h{
    img{
      max-height: 100%;
    }
  }
  &.restrict-v{
    img{
      max-width: 100%;
    }
  }
}
